---
import { Picture } from "astro:assets";
import appStoreImage from "assets/app-store.png";
---

<a href="#">
<Picture
  src={appStoreImage}
  alt="App Store"
  height=70
  loading="eager"
  format="avif"
/>
</a>
